.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/workspace.xml
.idea/workspace.xml
video/first_test_recording_2019_28_02_14_22_46.avi
.idea/workspace.xml
